<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    </head>
<body>
    {{>navbar}}

    <!-- header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                           <p>Welcome to weather app</p>
                           <h1>I Am A <span class="text_clr">MERN Stack </span> Developer</h1>
                            <a href="/"><button>Home</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/img4.jpg" alt="">
                        </figure>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!-- footer  -->
   {{>footer}}
</body>
</html>